<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="css/LR-Bos-Theme.min.css"/>
    <link rel="stylesheet" href="css/jquery.mobile.structure-1.4.5.min.css"/>
    <link rel="stylesheet" href="css/jquery.mobile.icons-1.4.5.min.css"/>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>

    <script>
        (function(e,c,a,g,f){function d(){var b=c.createElement("script");b.async=!0;
            b.src="//radar.cedexis.com/1/21563/radar.js";c.body.appendChild(b)}
            (function(){for(var b=[/\bMSIE (5|6)/i],a=b.length;a--;)if(b[a]
                            .test(navigator.userAgent))return!1;return!0})()
            &&("complete"!==c.readyState?(a=e[a])?a(f,d,!1):(a=e[g])&&a("on"+f,d):d())})
        (window,document,"addEventListener","attachEvent","load");
    </script>

</head>

<body>

<div data-role="page" id="home">

    <div data-role="header" data-position="fixed" data-theme="a">
        <h1>LR Question</h1>
        <a th:href="@{/bosadminhome}" data-icon="home" data-iconpos="notext"></a>
    </div>

    <div data-role="content" data-theme="a">

        <h3>Selected by:
            <span th:text="${lrqaAdmin.firstname} + ' ' +${lrqaAdmin.lastname}"></span></h3>

        <form>
            <fieldset>
                <label for="name">Question title</label>
                <input type="text" th:field="${lrqabosquestion.questionTitle}" th:readonly="true" id="name" data-mini="true" />
                <br/>

                <label for="textarea">Question details</label>
                <textarea name="textarea" th:field="${lrqabosquestion.questionText}" th:readonly="true" id="textarea" data-mini="true" />
                <br/>

                <div data-role="content" data-theme="a">
                    <ul data-role="listview">
                        <li><a th:href="${adminBosQuestionAnswerLink.href}">Answer Question</a></li>
                    </ul>
                </div>

            </fieldset>
        </form>

        <div th:include="_links :: security" />

        <div data-role="content" th:include="_links :: nav" />

    </div>

    <div data-role="footer" data-theme="a">
        <h5><small>&copy; digitalPilgrim 2016 Ltd</small></h5>
    </div>

</div>

</body>
</html>